<table class="table products">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Product name</th>
    <th scope="col">Current Bid</th>
    <th scope="col">Sold For?</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <th scope="row"><%= product.id %></th>
      <td><%= product.name.titleize %></td>
      <td><%= product.bids.any? ? "€#{product.current_amount_bid} by" : 'No bids yet' %> <%= product.current_bid&.user&.name %></td>
      <td>
        <% if !product.offered && !product.selling_price %>Closed; did not sell<% end %>
        <% if !product.offered && product.selling_price %>€<%=product.selling_price %><% end %>
        <% if product.offered && !product.selling_price %>Still open<% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
